@import "tailwindcss";

body{
  cursor: none;
}

/* Dot Loader */
.dot {
  animation: blink 1.4s infinite both;
  font-weight: bold;
  font-size: 22px;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}


/* Success Animation */
@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  60% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

.success-check {
  animation: pop 0.4s ease-out;
}
